ul {
	li:not(:first-child) {
		margin-top: 20px;
	}
}

#call_user {
	padding: 0 20px;
	height: 50px;
	background-color: #fff;
}

.item {
	display: flex;
	padding: 30px;
	background-color: #fff;
}

.item-thumb {
	flex: 0 0 auto;
	width: 128px;
}

.item-data {
	flex: 1 1 auto;
	padding-left: 30px;

	.name {
		font-size: 18px;
		font-weight: 700;
	}

	.phone {
		margin-top: 10px;
	}

	.email {
		margin-top: 10px;
	}

	.address {
		margin-top: 10px;
		color: #888;
	}
}
